@using TheGameCave.Lib.DTO
@model List<ProductBasicDto>

<div class="row justify-content-center" id="categories">
    <div class="row justify-content-end">
        <img src="https://localhost:5001/api/products/imagebyname/board.png" class="categoryimage" />
    </div>
    <div class="col-2 align-self-end" style="margin-bottom:5px">
        BOARD<br>GAMES<br>
        <a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="BoardGames">SHOP</a>
    </div>

    <div class="row justify-content-end">
        <img src="https://localhost:5001/api/products/imagebyname/card.png" class="categoryimage" />
    </div>
    <div class="col-2 align-self-end" style="margin-bottom:5px">
        CARD<br>GAMES<br>
        <a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="CardGames">SHOP</a>
    </div>

    <div class="row justify-content-end">
        <img src="https://localhost:5001/api/products/imagebyname/dice.png" class="categoryimage" />
    </div>
    <div class="col-2 align-self-end" style="margin-bottom:5px">
        DICE<br>GAMES<br>
        <a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="DiceGames">SHOP</a>
    </div>
</div>

<div class="productlabel">NEW RELEASES</div>

<div id="app" class="productblock container">
    <div class="products row justify-content-center">
        <div v-for="product in products" v-if="product.id == 40 || product.id == 45 || product.id == 46" class="card col-md-3 md-auto">
            <img class="card-img-top" v-bind:src="'https://localhost:5001/api/products/GameImageByName/' + product.photoUrl">

            <div class="card-body row justify-content-center align-items-start">
                <h5 class="card-title text-center">{{product.name}}</h5>
            </div>
            <div class="card-body row justify-content-center align-items-center">
                <h5 class="card-price">€ {{product.price}}</h5>
                <a v-bind:href="'/Products/Detail/' + product.id" class="btn btn-outline-dark btn-card">INFO</a>
                <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" asp-route-id="{{product.id}}" class="btn btn-dark btn-card">BUY</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/products.js"></script>
}