<h1>Sale</h1>

<div id="app" class="productblock container">
    <div class="products row justify-content-center">
        <div v-for="product in products" v-if="product.onSale === true" class="card col-sm-6 col-md-5 col-lg-3">
            <partial name="_ProductCardPartial" />
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/products.js"></script>
}