<h1>Sale</h1>

<div id="app" class="productblock container">
    <div class="products row justify-content-center">
        <div v-for="product in products" v-if="product.onSale === true && product.id != 30" class="card col-md-3 md-auto">
            <div class="ribbon" v-if="product.onSale === true"><span>SALE</span></div>
            <img class="card-img-top" v-bind:src="'https://localhost:5001/api/products/GameImageByName/' + product.photoUrl">

            <div class="card-body row justify-content-center align-items-start">
                <h5 class="card-title text-center">{{product.name}}</h5>
            </div>
            <div class="card-body row justify-content-center align-items-center">
                <h5 class="card-price">
                    <span style="text-decoration: line-through">€ {{product.price}} </span>
                    <span>€ {{product.price - 10}}</span>
                </h5>
                <a v-bind:href="'/Products/Detail/' + product.id" class="btn btn-outline-dark btn-card">INFO</a>
                <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" asp-route-id="{{product.id}}" class="btn btn-dark btn-card">BUY</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/products.js"></script>
}