<partial name="_BackButton" />

<div id="app" class="productblock container">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="https://localhost:5001/api/products/imagebyname/search.png" /></span>
        </div>
        <input type="text" v-model="search" class="form-control" placeholder="Search">
    </div>
    <h1>Card games</h1>
    <div class="products row justify-content-center">

        <div v-for="product in filteredProducts" v-if="product.productType == 'CardGame' && product.categoryName != 'Dice'" class="card col-sm-6 col-md-5 col-lg-3">
            <partial name="_ProductCardPartial" />
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/products.js"></script>
}