<partial name="_BackButton" />

<div id="app" class="productblock container">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><img src="https://localhost:5001/api/products/imagebyname/search.png" /></span>
        </div>
        <input type="text" v-model="search" class="form-control" placeholder="Search">
    </div>
    <h1>Dice games</h1>
    <div class="products row justify-content-center">

        <div v-for="product in filteredProducts" v-if="product.categoryName == 'Dice'" class="card col-md-3 md-auto">
            <img class="card-img-top" v-bind:src="'https://localhost:5001/api/products/GameImageByName/' + product.photoUrl">

            <div class="card-body row justify-content-center align-items-start">
                <h5 class="card-title text-center">{{product.name}}</h5>
            </div>
            <div class="card-body row justify-content-center align-items-center">
                <h5 class="card-price">€ {{product.price}}</h5>
                <a v-bind:href="'/Products/Detail/' + product.id" class="btn btn-outline-dark btn-card">INFO</a>
                <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" asp-route-id="{{product.id}}" class="btn btn-dark btn-card">BUY</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/products.js"></script>
}