@using TheGameCave.Lib.DTO
@model List<ProductBasicDto>

<h1>Products</h1>

<div class="productblock container">
    <div class="products row justify-content-center">
        @foreach (var product in Model)
        {
            <div class="card col-md-3 md-auto">
                <img src="https://localhost:5001/api/products/GameImageByName/@product.PhotoUrl" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">€ @product.Price</li>
                </ul>
                <div class="card-body">
                    <a asp-area="" asp-controller="Products" asp-action="Detail" asp-route-id="@product.Id" class="card-link">INFO</a>
                    <a href="#" class="card-link">BUY</a>
                </div>
            </div>
        }
    </div>
</div>