<a id="goUp"></a>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - The Game Cave &emsp;

        <a asp-area="" asp-controller="Home" asp-action="Privacy" title="Privacy">
            <img src="https://localhost:5001/api/products/imagebyname/privacy.png" alt="Privacy icon" />
        </a> 
        &emsp;
        <a href="mailto:thegamecaveshop@gmail.com?subject=Question&body=Write your message here." title="Contact">
            <img src="https://localhost:5001/api/products/imagebyname/mail.png" alt="Contact icon" />
        </a>
    </div>
</footer>