
@{
    ViewData["Title"] = "Index";
}

<h1>Shopping Cart</h1>
<p>&nbsp;</p>
<div id="shoppingCartApp">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width="10%"></th>
                <th>Name</th>
                <th width="10%">Quantity</th>
                <th>Price (€)</th>
                <th>Total Price (€)</th>
                <th width="10%">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in cart">
                <td>
                    <img class="imgCart" v-bind:src="'https://localhost:5001/api/products/GameImageByName/' + item.photoUrl">
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    <input type="number" v-model="item.quantity" class="form-control" />
                </td>
                <td>
                    <span v-if="item.onSale === true">{{ formatPrice(item.price-10) }}</span> <span v-if="item.onSale === false">{{ formatPrice(item.price) }}</span>
                </td>
                <td>
                    <span v-if="item.onSale === true">{{ formatPrice(item.quantity * (item.price-10)) }}</span> <span v-if="item.onSale === false">{{ formatPrice(item.quantity * item.price) }}</span>
                </td>
                <td class="text-center">
                    <a class="cartIcon" @@click="removeFromCart(item)"><img src="https://localhost:5001/api/products/imagebyname/delete.png" /></a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">
                    <strong>Total</strong>
                </td>
                <td>
                    <span class="shopping-cart-total-amount"><strong>{{ formatPrice(totalPrice()) }}</strong></span>
                </td>
                <td>
                    <button class="btn btn-dark btn-lg text-center" data-toggle="modal" data-target="#checkoutModal">Checkout</button>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Checkout</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>
                        We accept:
                    </h4>
                    <h2>
                        <span class="creditcardIcons">
                            <i class="fab fa-cc-visa"></i>
                        </span>
                        <span class="creditcardIcons">
                            <i class="fab fa-cc-mastercard"></i>
                        </span>
                        <span class="creditcardIcons">
                            <i class="fab fa-cc-amex"></i>
                        </span>
                        <span class="creditcardIcons">
                            <i class="fab fa-cc-paypal"></i>
                        </span>
                        <span class="creditcardIcons">
                            <i class="fab fa-cc-apple-pay"></i>
                        </span>
                    </h2>
                    <h3> Total: € {{ formatPrice(totalPrice()) }} </h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/shoppingcart.js"></script>
}
